# Application
APP_NAME=SmartMenu QR
APP_ENV=development
DEBUG=true
SECRET_KEY=change-this-to-a-random-secret-key-in-production
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_URL=postgresql+asyncpg://smartmenu:437734@localhost:5432/smartmenu_db

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_SECRET_KEY=change-this-jwt-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Email (console | smtp)
EMAIL_BACKEND=console
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@smartmenuqr.com

# Azure Blob Storage (leave empty for local storage)
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=smartmenu-images

# Upload
UPLOAD_DIR=uploads
MAX_IMAGE_SIZE_MB=5

MINIO_ENDPOINT: str = "play.min.io"
MINIO_ACCESS_KEY: str = "Q3AM3UQ867SPQQA"
MINIO_SECRET_KEY: str = "zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG"
MINIO_BUCKET_NAME: str = "smartmenu-images"
